.jimu-widget-cw {

}

.jimu-widget-cw textarea {
    font-family: 'Arial';
    font-size: 14px;
    resize: none;
    overflow: hidden;
    width: 255px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    color: #000000;
    padding: 5px;
    margin: 0;
}

.jimu-widget-cw textarea:active {
    border: 1px solid #15a4fa;
}

.jimu-widget-cw .inputcontainer {
    /*border: 1px solid #CCC;*/
    margin: 3px;
    width: 100%;
    vertical-align: middle;
    padding: 6px;
}

.jimu-widget-cw coordNameContainer {
    margin-bottom: 6px;
}

.jimu-widget-cw .outputcontainer {
    /*border: 1px solid #CCC;*/
    margin: 3px;
    width: 100%;
    padding: 6px;
}

.jimu-widget-cw .coordinateContainer {
    border:1px solid #CCC;
    margin: 7px;
    padding-top: 5px;
    padding-left: 5px;
    width: 95%;
}

.jimu-widget-cw .coordarea {
   height: 0px;
   overflow: hidden;
}

.jimu-widget-cw .cpbtn {
    display: inline-block;
    background: url('../images/copy.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 16px;
    height: 16px;
}

.jimu-widget-cw .expand {
  display: inline-block;
  background: url('../images/fold_up.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
}

.jimu-widget-cw .crdfrmtlabel {
    display: inline-block;
    height: 16px;
    font-size: 14px;
    color: #86909c;
    /*margin-top:14px;*/
    margin-right: 4px;
    width: 100px;
    text-align: right;
}

.jimu-widget-cw .coordfrmt {
    width:50%;
}

.jimu-widget-cw .coordformat {
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
}

.jimu-widget-cw .crds {
    display: inline-block;
    width: 150px;
    margin-right: 4px;
}

.jimu-widget-cw .coordarea.expanded {
    /*height: 150px;*/
    margin-top: 10px;
}

.jimu-widget-cw .coordarea.collapsed {

}

.jimu-widget-cw .coordactions {
    display:inline-block;
}

.jimu-widget-cw .add-with-icon {
    display: inline-block;
    height: 32px;
    line-height:32px;
    color: #838383;
}

  .jimu-widget-cw .add-with-icon.coordLabel {
      width: 75px;
  }

/*.jimu-widget-cw .add-with-icon > span {
    float: none;
    margin-top: 6px;
    line-height: 32px;
}*/

.jimu-widget-cw .add-with-icon .zoomButton {
    text-decoration: underline;
}

.jimu-widget-cw .add-output {
    margin-bottom: 7px;
    cursor: pointer;
    display: inline-block;
}

.jimu-widget-cw .add-output-coordinate-icon {
    background-image: url(../../../jimu.js/css/images/add_default.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.jimu-widget-cw .add-output-coordinate-label {
    font-size: 14px;
    color: #518dca;
    margin-left: 10px;
    /* line-height: 24px; */
    display: inline-block;
    height: 100%;
    text-decoration: underline;
}

/**
 * Coordinate Format Dialog
 **/


.btnContainer {
    text-align: right;
    margin-top: 6px;
}

.settingsContainer {
    margin-top: 6px;
}

.controlContainer {
    margin-top: 6px;
}
