.jimu-widget-DistanceAndDirection {

}

.jimu-widget-DistanceAndDirection .tabsContainer {
    border: 1px solid #838383;
}

.jimu-widget-DistanceAndDirection .selectInput {
    width: 119px;
}

.jimu-widget-DistanceAndDirection .coordInput {
    width: 225px;
    height: 32px;
}

.jimu-widget-DistanceAndDirection .tabPanel {
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}

.jimu-widget-DistanceAndDirection .tabPanel fieldset {
    border: 1px solid #CCC;
    padding: 6px;
    margin-top: 10px;
}

.jimu-widget-DistanceAndDirection .tabPanel fieldset > div {
    margin: 3px;
}

.jimu-widget-DistanceAndDirection .tabPanel fieldset > div > label {
    width: 50px;
    display: inline-block;
}

.jimu-widget-DistanceAndDirection .controls {
    display: table;
    margin: 0 auto;
}

.jimu-widget-DistanceAndDirection .buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.jimu-widget-DistanceAndDirection .controlItem {
    display: flex;
}

.jimu-widget-DistanceAndDirection .controlGroup {
    margin-top: 13px;
}

.jimu-widget-DistanceAndDirection .controlGroup .controlGroupChild{
    margin-top: 6px;
}

.jimu-widget-DistanceAndDirection .controlGroup .splitRight {
    position: absolute;
    right: 25px;
}

.jimu-widget-DistanceAndDirection .controlGroup > label {
    width: 100px;
}

.jimu-widget-DistanceAndDirection .controlSpace {
    margin-left: 6px;
}

.jimu-widget-DistanceAndDirection .addPointBtn {
    background: url(../images/draw_point.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;

}

.jimu-widget-DistanceAndDirection .interactive-checkbox {
    padding: 5px 0px 0px 10px;
}

.jimu-checkbox .label {
    font-size: 12px;
    margin: auto 5px;
    cursor: default;
}

.jimu-widget-DistanceAndDirection .frmtBtn {
    background: url(../images/setting_disabled.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;

}

.jimu-widget-DistanceAndDirection .addPointBtn:hover {
    background-color: #c0c0c0;
}

.jimu-widget-DistanceAndDirection .frmtBtn:hover {
    background-color: #c0c0c0;
    background: url(../images/setting_default.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
}

.jimu-widget-DistanceAndDirection .addPointBtn.jimu-state-active {
    background-color: #c0c0c0;
}

/**
 * Coordinate Format Dialog
 **/


.btnContainer {
    text-align: right;
    margin-top: 6px;
}

.settingsContainer {
    margin-top: 6px;
}

.controlContainer {
    margin-top: 6px;
}