<div class="tabPanel" data-dojo-attach-point="circleContainer">
    <div class="controls">
        <div class="controlGroup">
            <label>Create Circle From</label>
            <div class="controlItem">
                <select style="width: 225px" data-dojo-type="dijit/form/Select" data-dojo-attach-point="creationType">
                    <option value="Radius" selected="selected">Radius</option>
                    <option value="Diameter">Diameter</option>
                </select>
            </div>
        </div>

        <div class="controlGroup">
            <label data-dojo-attach-point="coordInputLabel">Center Point</label>
            <div class="controlItem">
                <input class="jimu-input coordInput" data-dojo-attach-point="startPointCoords" placeholder="Enter Coordinates" />
                <span class="frmtBtn" data-dojo-attach-point="coordinateFormatButton"></span>
                <span class="addPointBtn" data-dojo-attach-point="addPointBtn"></span>
            </div>
        </div>

        <div class="controlGroup">
            <label data-dojo-attach-point="radiusDiameterLabel">Radius</label>
            <div class="controlItem">
                <input class="jimu-input selectInput" data-dojo-attach-point="lengthInput" />
                <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" data-dojo-attach-point="lengthUnitDD">
                    <option value="feet">Feet</option>
                    <option value="meters" selected="selected">Meters</option>
                    <option value="yards">Yards</option>
                    <option value="kilometers">Kilometers</option>
                    <option value="miles">Miles</option>
                    <option value="nautical-miles">Nautical Mile</option>
                </select>
            </div>
        </div>

        <div class="controlGroup">
            <div data-dojo-attach-point='distCalcControl' data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Distance Calculator', open: false">
                <div class="controlGroupChild">
                    <label>Time<label>
                        <div class="controlItem">
                            <input class="jimu-input selectInput" data-dojo-attach-point="timeInput" />
                            <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" data-dojo-attach-point="timeUnitDD">
                                <option value="3600">Hours</option>
                                <option value="60" selected="selected">Minutes</option>
                                <option value="1">Seconds</option>
                            </select>
                        </div>
                </div>
                <div class="controlGroupChild">
                    <label>Rate<label>
                        <div class="controlItem">
                            <input class="jimu-input selectInput" data-dojo-attach-point="distanceInput" />
                            <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" data-dojo-attach-point="distanceUnitDD">
                                <option value="0.3048;1">Feet / second</option>
                                <option value="0.3048;3600">Feet / hour</option>
                                <option value="1000;1">Kilometers / second</option>
                                <option value="1000;3600">Kilometers / hour</option>
                                <option value="1;1" selected="selected">Meters / second</option>
                                <option value="1;3600">Meters / hour</option>
                                <option value="1609.34;1">Miles / second</option>
                                <option value="1609.34;3600">Miles / hour</option>
                                <option value="1852;1">Nautical Miles / second</option>
                                <option value="1852;3600">Nautical Miles / hour</option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
