<div class="tabPanel" data-dojo-attach-point="ellipseContainer">
  <div class="controls">

    <div class="controlGroup">
      <label>Ellipse Type</label>
      <div class="controlItem">
        <select style="width: 225px" data-dojo-type="dijit/form/Select" >
          <option value="semi">Semi</option>
          <option value="full">Full</option>
        </select>
      </div>
    </div>

    <div class="controlGroup">
      <label>Center Point</label>
      <div class="controlItem">
        <input class="jimu-input coordInput" placeholder="Enter Coordinates" data-dojo-attach-point="startPointCoords"></input>
        <div class="addPointBtn"></div>
      </div>
    </div>

    <fieldset>
      <legend>Axis</legend>
        <div class="controlGroup">
          <label>Minor</label>
          <div class="controlItem">
            <input class="jimu-input coordInput"></input>
          </div>
        </div>

        <div class="controlGroup">
          <label>Major</label>
          <div class="controlItem">
            <input class="jimu-input coordInput"></input>
          </div>
        </div>

        <div class="controlGroup">
          <label>Unit</label>
          <div class="controlItem">
            <select style="width: 225px" data-dojo-type="dijit/form/Select" >
              <option value="feet">Feet</option>
              <option value="kilometers">Kilometers</option>
              <option value="nauticalmiles">Nautical Mile</option>
              <option value="ussurveyfoot">US Survey Foot</option>
            </select>
          </div>
        </div>

    </fieldset>

    <div class="controlGroup">
      <label>Orientation Angle</label>
      <div class="controlItem">
        <input class="jimu-input selectInput"></input>
        <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" >
          <option value="degrees">Degrees</option>
          <option value="miles">Miles</option>
        </select>
      </div>
    </div>
  </div>
</div>
