<div class="tabPanel" data-dojo-attach-point="lineContainer">
  <div class="controls">

  <div class="controlGroup">
    <label>Type</label>
    <div class="controlItem">
      <select disabled="disabled" style="width: 225px" data-dojo-type="dijit/form/Select">
        <option selected="selected" value="Geodesic">Geodesic</option>
        <option value="GreatElliptic">Great Elliptic</option>
        <option value="Loxodrome">Loxodrome</option>
      </select>
    </div>
  </div>

  <div class="controlGroup">
      <label>From</label>
      <div class="controlItem">
        <select disabled="disabled" style="width: 225px" data-dojo-type="dijit/form/Select">
          <option value="DistAndBearing">Distance and Bearing</option>
          <option selected="selected" value="Points">Points</option>
        </select>
    </div>
  </div>

  <div class="controlGroup">
      <label>Start Point</label>
      <div class="controlItem">
        <input class="jimu-input coordInput" data-dojo-attach-point="startPointCoords">
        </input><!---->
        <div class="addPointBtn" data-dojo-attach-point="addPointBtn"></div>
    </div>
  </div>

  <div class="controlGroup">
    <label>End Point</label>
    <div class="controlItem">
      <input class="jimu-input coordInput" data-dojo-attach-point="endPointCoords"></input>
    </div>
  </div>

  <div class="controlGroup">
    <label>Length</label>
    <div class="controlItem">
      <input class="jimu-input selectInput" data-dojo-attach-point="lengthInput"></input>
      <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" data-dojo-attach-point="lengthUnitDD" >
        <option value="feet">Feet</option>
        <option value="kilometers">Kilometers</option>
        <option value="miles">Miles</option>
        <option selected="selected" value="meters">Meters</option>
        <option value="nautical-miles">Nautical Mile</option>
        <option value="yards">Yards</option>
      </select>
    </div>
  </div>

  <div class="controlGroup">
    <label>Angle</label>
    <div class="controlItem">
      <input class="jimu-input selectInput" data-dojo-attach-point="angleInput"></input>
      <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" data-dojo-attach-point="angleUnitDD">
        <option value="degrees">Degrees</option>
        <option value="mils">Mils</option>
      </select>
    </div>
  </div>

  </div>
</div>
